{{#extends "base"}}
  {{#block "title"}}Edit Product{{/block}}
  {{#block "body"}}
    <h2 class="ms-2 mt-1">Edit Product: {{product.name}}</h2>
    <div>
      <form id="form" class="m-4" method="post">
        <div class="mb-2" id="uc-widget">
          <lr-file-uploader-regular
            css-src="https://cdn.jsdelivr.net/npm/@uploadcare/blocks@0.25.0/web/lr-file-uploader-regular.min.css"
            ctx-name="my-uploader"
            class="my-config"
          >
          </lr-file-uploader-regular>
        </div>
        <div class="img-container mt-2 mb-2">
          <img
            src="https://ucarecdn.com/{{product.image}}/-/preview/300x300/-/quality/smart_retina/-/format/auto/"
            class="img-fluid"
            id="uploaded-image"
          />
        </div>
        {{{form}}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <input type="hidden" name="image" value="" id="image" />
        <div class="mt-2">
          <input type="submit" value="Edit" class="btn btn-primary" />
        </div>
      </form>
    </div>
  {{/block}}

  {{#block "js"}}
    <script type="module">
      import * as LR from
      "https://cdn.jsdelivr.net/npm/@uploadcare/blocks@0.25.0/web/lr-file-uploader-regular.min.js";
      LR.registerBlocks(LR);
    </script>

    <lr-config
      ctx-name="my-uploader"
      pubkey="{{UC_PUBLIC}}"
      max-local-file-size-bytes="5000000"
      multiple-max="3"
      img-only="true"
      source-list="local, url, camera"
    ></lr-config>

    <script>
      window.addEventListener('LR_UPLOAD_FINISH', (e) => { e.preventDefault();
      const uuid = e.detail.data[0].uuid; if (uuid) {
      document.querySelector("#image").value = uuid;
      document.querySelector("#uploaded-image").src=`https://ucarecdn.com/${uuid}/-/preview/450x450/-/quality/smart_retina/-/format/auto/`;
      } })
    </script>
  {{/block}}
{{/extends}}